@model Finca.Web.Models.PalpationDetailsViewModel

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />



<div class="container">
    <dl class="row">
        <div class="col-lg-4">
            <dt>
                @Html.DisplayNameFor(model => model.Prenez)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Prenez)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Vacia)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Vacia)
            </dd>
        </div>
    </dl>

 </div>


<div class="row">
    <div class="card">
        <div class="card-header">
            <b>Palpaciones</b>
        </div>
        <div class="card-body">
            <table class="table table-hover table-responsive table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th>
                            Fecha
                        </th>
                        <th>
                            Meses
                        </th>
                        <th>
                            Numero Finca
                        </th>
                        <th>
                            Veterinario
                        </th>
                        <th>
                            Preñez
                        </th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Palpations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Meses)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Animal.NumeroFinca)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Veterinario.Nombre)
                            </td>
                            <td>

                                @Html.DisplayFor(modelItem => item.Estado)

                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p>
    <a asp-action="Palapaciones" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i>Volver</a>

</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Animals/Delete/' + item_to_delete;
            });
        });
    </script>
}




