@model Finca.Web.Models.AnimalViewModel
<input type="hidden" asp-for="Id" />
<div class="row">

    <hr />
    <dl class="dl-horizontal">
        <div class="col-sm-4">
            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PesoNacimiento)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoNacimiento)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PesoDesteto)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoDesteto)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PesoActual)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PesoActual)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NumeroFinca)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroFinca)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Madre)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Madre)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Age)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Age)
            </dd>
        </div>
        <div class="col-sm-4">
            <dt>
                @Html.DisplayNameFor(model => model.Marca)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Marca)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsActive)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActive)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Observaciones)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Observaciones)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Sexo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Sexo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NombreLote)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NombreLote)

            </dd>
            @if (Model.Sexo == Sex.Hembra)
            {
                <dt>
                    @Html.DisplayNameFor(model => model.Tiempo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Tiempo.Days)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Prenez)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Prenez)
                </dd>
            }

        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.FotoPath))
            {
                <img src="@Url.Content(Model.FotoPath)" alt="Image" style="width:500px;height:380px;max-width: 100%; height: auto;" />
            }
        </div>

    </dl>
</div>

<div>
    <a asp-action="ListaFotos" asp-route-id="@Model.AnimalId" class="btn btn-warning">Fotos</a>
    <a asp-action="ListaPalpacion" asp-route-id="@Model.AnimalId" class="btn btn-primary">Palpacion</a>
    <button data-id="@Model.AnimalId" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>

</div>
<br />


@if (Model.Crias.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Crias</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumeroFinca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FotoPath)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PesoNacimiento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Padre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Madre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sexo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Crias)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroFinca)
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.FotoPath))
                                        {
                                            <img src="@Url.Content(item.FotoPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                        }
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PesoNacimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Padre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Madre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sexo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<br />
@if (Model.Arbol.Count > 0)
{
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Arbol Genealogico</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.NumeroFinca)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FotoPath)
                                </th>

                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.FechaNacimiento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PesoNacimiento)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Padre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Madre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Sexo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.IsActive)
                                </th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Arbol)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NumeroFinca)
                                    </td>
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.FotoPath))
                                        {
                                            <img src="@Url.Content(item.FotoPath)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                        }
                                    </td>

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FechaNacimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PesoNacimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Padre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Madre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Sexo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.IsActive)
                                    </td>

                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info"><i class="glyphicon glyphicon-align-justify"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
<br />
@if (Model.Pesos != null)
{
    @if (Model.Pesos.Count > 0) { 
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Pesos</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive table-striped" id="MyTable">
                        <thead>
                            <tr>
                                <th>
                                   Fecha
                                </th>
                                <th>
                                  Peso
                                </th>                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Pesos.OrderBy(p => p.Fecha))
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha)
                                    </td>
                                   

                                    <td>
                                        @Html.DisplayFor(modelItem => item.Peso)
                                    </td>                                   
                                    <td>
                                        <button data-id="@item.Id" class="btn btn-danger deleteItemPeso" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    }
}
<br />
<p>
    <a asp-action="Index" class="btn btn-default"><i class="glyphicon glyphicon-circle-arrow-left"></i>Volver</a>

</p>


<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {

            // Delete item
            var item_to_delete;
            var toDelete;

            $('.deleteItem').click((e) => {
                toDelete = 1;
                item_to_delete = e.currentTarget.dataset.id;
            });

            $('.deleteItemPeso').click((e) => {
                toDelete = 2;
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                if (toDelete == 1) {
                    window.location.href = '/Animals/Delete/' + item_to_delete;
                } else {
                    window.location.href = '/Animals/DeletePesaje/' + item_to_delete;
                }

               
            });
        });
    </script>
}
