@model Finca.Web.Models.PalpationListViewModel

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />


<div class="row">
    
    <div class="card-header">
        <b>Palpaciones</b>
        <a asp-action="AddPalpation" asp-route-id="@Model.AnimalId" class="btn btn-primary"><i class="fas fa-plus-square">Crear Nueva</i></a>
    </div>
        <div class="card-body">
            <table class="table table-hover table-responsive table-striped" id="MyTable">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Fecha)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Meses)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Animal.NumeroFinca)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Veterinario.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Estado)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.palpations)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fecha)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Meses)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Animal.NumeroFinca)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Veterinario.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Estado)
                            </td>
                            <td>
                                <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash"></i></button>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
   
</div>
<p>
    <a asp-action="Details" asp-route-id="@Model.AnimalId" class="btn btn-secondary"><i class="fas fa-arrow-circle-left"></i>Volver</a>

</p>

<partial name="_DeleteDialog" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>


    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Animals/DeletePalpitation/' + item_to_delete;
            });
        });
    </script>
}



